.comicbook {
  position: relative;
  padding-bottom: 6px;
}

.infobar {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 50px;
  background-color: rgba(132, 43, 43, 0.58);
}

.upvotes {
  position: absolute;
  bottom: 0px;
  right: 20px;
  color: white;
  z-index: 4;
  font-size: larger;
}

.heart {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
  height:40px;
}

.heart_off {
  background: url('/assets/heart_off.png') no-repeat;
}

.heart_on {
  background: url('/assets/heart_on.png') no-repeat;
}

.heart:hover {
  background: url('/assets/heart_hover.png') no-repeat;
}

.heart_on.heart:hover {
  background: url('/assets/heart_on.png') no-repeat;
}